body {
  text-align: center;
  background-color: #dedef0;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #000;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: #fb5b5a;
  opacity: 0.8;
}

.red {
  background-color: #fb5b5a;
}

.green {
  background-color: #4dd599;
}

.blue {
  background-color: #3fc5f0;
}

.yellow {
  background-color: #ffd369;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: #ffe7d1;
}
